@font-face {
	font-family: calculator;
	src: url(digital-7.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

#container-large {
	border: 1px solid black;
	height: 100vh;
	width: 100vw;
}

#container-small {
	height: 50vh;
	width: 15vw;
	border: 1px solid black;
	flex-direction: row;
	border-radius: 15px;
	background: rgb(166, 166, 166);
}

#screen-container {
	width: 90%;
	height: 30%;
	border: 1px solid black;
	border-radius: 3%;
	background-color: rgb(136, 177, 94);
	font-family: calculator;
	font-size: 35px;
	flex-direction: column;
	align-items: flex-end;
}

#screen-container > p {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #346403 #88b15e;
	text-align: right;
	word-wrap: break-word;
	line-height: 0.7;
	hyphens: auto;
	margin: 10px 0px 10px 0px;
}

#delete-container,
#buttons-container {
	width: 90%;
	justify-content: space-between;
	gap: 10px;
}

button {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid black;
	color: white;
	transition: all 0.1s ease-in-out;
	font-size: 20px;
}

button:hover {
	opacity: 65%;
}

button:active {
	transform: scale(0.9);
}

.delete {
	background-color: rgb(219, 39, 39);
}

.number {
	background-color: black;
}

.operator {
	background-color: rgb(104, 102, 102);
}
