@font-face {
	font-family: calculator;
	src: url(digital-7.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

#container-large {
	border: 1px solid black;
	height: 100vh;
	width: 100vw;
}

#container-small {
	height: 50vh;
	width: 15vw;
	border: 1px solid black;
	flex-direction: row;
	border-radius: 15px;
	background: rgb(166, 166, 166);
}

#screen-container {
	width: 90%;
	height: 20%;
	border: 1px solid black;
	justify-content: right;
	padding-right: 20px;
	border-radius: 3%;
	background-color: rgb(136, 177, 94);
	font-family: calculator;
	font-size: 35px;
	flex-direction: column;
	align-items: flex-end;
}
