@font-face {
	font-family: calculator;
	src: url(digital-7.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

#container-large {
	border: 1px solid black;
	height: 100vh;
	width: 100vw;
}

#container-small {
	height: 50vh;
	width: 15vw;
	border: 1px solid black;
	flex-direction: row;
	border-radius: 15px;
	background: rgb(166, 166, 166);
}
